/*侧边工具栏*/

#J-global-toolbar {
	display: block;
}

.jdm-toolbar-wrap {
	position: fixed;
	height: 100%;
	top: 0;
	right: -234px;
	z-index: 999;
	transition: right 0.5s;
}

.jdm-toolbar-container {
	position: relative;
	/*定位参照物*/
	width: 234px;
	height: 100%;
	z-index: 999;
}

.jdm-toolbar-panel {
	position: relative;
	width: 270px;
	height: 100%;
	background-color: #FF0000;
	z-index: 99;
}

.jdm-toolbar-panel-header{
	width: 270px;
    height: 40px;
    line-height: 40px;
    background: #eceaea;
    font-size: 16px;
    font-weight: normal;
    padding: 0 10px;
}

.z-jdm-toolbar-open {
	right: 0px;
}

.jdm-toolbar-buttons {
	position: absolute;
	top: 0;
	left: -64px;
	height: 100%;
	
}

.jdm-tbar-act {
	width: 64px;
	height: 0px;
}

.jdm-tbar-list{
	position: absolute;
	top:50%;
	right: 0;
	margin-top: -61px;
	width: 35px;
}

.jdm-tbar-item{
	position: relative;
	width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    text-align: center;    
    line-height: 35px;    
    background-color: #7a6e6e;
    border-radius: 3px 0 0 3px;
}

.jdm-tbar-item .tbar_icon{
	position: relative;
	z-index: 5;
	width: 34px;
    height: 35px;
    display: block;
    margin-left: 1px;
    background-color: #7a6e6e;
    color: #FFFFFF;
    font-size: 20px;
}

.tab-text{
	width: 62px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    font-family: 微软雅黑;
    position: absolute;    
    left: 35px;
    font-size: 12px;
    font-style:normal;
    z-index: 4;
    top: 0;
    background-color:  #c81623;
    border-radius: 3px 0 0 3px;
    transition: left 0.3s;
}

.jdm-tbar-item:hover .tab-text{
	left: -60px;	
}




.jdm-tbar-item .icon-caigou-xianxing{
	color: #FFFFFF;
    font-size: 20px;
    
}

.jdm-tbar-item .tbar_icon:hover{
	background-color: #c81623;
}

.jdm-tbar-bottom{
	position: absolute;	
	width: 35px;
	right: 0;
	bottom: 0;
}




.jdm-tbar-recover{	
	position: absolute;
	z-index: -10;
	right: 0;
	height: 100%;
	width: 6px;
	background-color: #7a6e6e;
}
